.section2Card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section2CardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 10px;
  border: 2px solid #6248ff;
  background-color: white;
  border-radius: 30px;
}

.section2Nr {
  font-size: 15px;
  line-height: 18px;
  color: #6248ff;
}

.section2Subtitle {
  font-size: 24px;
  line-height: 29px;
  color: var(--color-grey);
}

.section2Text {
  width: 400px;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-grey-2);
}

.section2FirstBorder {
  width: 800px;
  height: 300px;
  transform: translate(-28%, 50%);
  border-radius: 8%;
  border-top: 3px dashed #6248ff;
  border-right: 3px dashed #6248ff;
  z-index: -1;
}

.section2SecondBorder {
  width: 800px;
  height: 300px;
  transform: translate(30%, 50%);
  border-radius: 8%;
  border-top: 3px dashed #6248ff;
  border-left: 3px dashed #6248ff;
  z-index: -1;
}

.emptyBorder {
  width: 800px;
  height: 300px;
}

@media screen and (max-width: 1160px) {
  .section2CardText {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 520px) {
  .section2Text {
    width: 200px;
  }
}
