/* Initial Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* Root Variables */
:root {
  --color-grey: #333333;
  --color-grey-2: #4f4f4f;

  --buton-default-color: #4f62f6;
  --buton-hover-color: #7181fc;
  --buton-pressed-color: #354bf4;
  --buton-disabled-color: #e0e0e0;

  --section-background-color: rgba(99, 72, 255, 0.1);
}

.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  height: fit-content;
  position: static !important;
}

.carousel-indicators {
  display: none !important;
}

.carousel-caption {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.accordion-button {
  background-color: white !important;
  color: black !important;
  border: none !important;
  border-radius: 50% !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}

.accordion-item {
  border: none !important;
  border: 2px solid #6248ff !important;
  border-radius: 20px !important;
  margin-bottom: 20px;
}

#basic-nav-dropdown {
  padding: 13px 24px !important;
}
